

    .hautpage{
        width: 100%;
        height: 400px;
        border: brown solid 5px;
        overflow: hidden;
        position: relative;
    }

    .autrepic{
        height: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:end;
    }
    #hautpage{
        position: absolute;
        bottom: -400px;
    }

    h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    }

    .sect1,.sect2{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-between;
        width: 80%;
        height: 310px;
        margin: 0 auto;
    }

    .para1,.para2,.para3,.para4{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }

    

    .cube1,.cube2,.cube3,.cube4{
        height: 100%;
        width: 50%;
        position: relative;
        padding: 5px;
    }


    p{
        position: absolute;
        z-index: -1;
        top: 220px;
        left: 20px;
        font-size: 20px;
        color: white;
        pointer-events: none ;
    }

  

    .picnourriture{
        width: 100%;
        height: 100%;
    
    }

    /*responsive 1400px*/

    @media(max-width:1400px){
        .sect1,.sect2{
            flex-direction: column;
            align-items:center;
            justify-content:center;
            height: 500px;

            }
            .para1,.para2,.para3,.para4{
                width: 60%;
                height: 50%;
            }
    
            .cube1,.cube2,.cube3,.cube4{
                height: 100%;
                width: 100%;
            }
        }
    /*responsive 1270px*/

    @media(max-width:1270px){

        p{
         
            top: 80px;
            left: 20px;
            font-size: 20px;
            color: white;
            pointer-events: none ;
        }

        #hautpage{
            zoom: 0.70;
        }
    }

     /*responsive 1000px*/

    @media(max-width:1000px){
        .para1,.para2,.para3,.para4{
            width: 100%;
            height: 50%;
        }
    }

    /*responsive 775px*/

    @media(max-width:773px){


        .autrepic{
            justify-content:center;
        }

        #hautpage{
            zoom: 0.50;
            bottom: -300px;
        }
    }


    /*  responsive 600 px  */

    @media(max-width:600px){
        .sect1,.sect2{
            width: 50%;
            height: 800px;
        }
        
        .para1,.para2,.para3,.para4{
            width: 100%;
            height: 50%;
            flex-direction: column;
        }

        .cube1,.cube2,.cube3,.cube4{
            overflow: hidden;
            padding: 10px;
           
        }
    }

    /*responsive 500px*/

        @media(max-width:500px){

            #hautpage{
                zoom: 0.35;
                bottom: -100px;
            }
             
        }
        