.photointro,.contact{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    
}
.intro,.introprojet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 100%;
    height: 700px;
    color: white;
    background-color: #00BFFF;
    
}

.intro :nth-child(1){
    width: 100%;
    height: 30%;
    color: white;
    font-weight: bold;
    font-size: 150px;
    text-align: center;
}

.presentation{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.presentation>h1{
    
    height: 15%;
    color: #00BFFF;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
   
   
}
span{
    color: #00BFFF;
}
.presentation :nth-child(2){
    
    height: 40%;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    
}

.photointro{
    height: 450px;
    width: 450px;
    border: solid black 2px;
    margin: auto;
    text-align: center;
    background-color: #696969;
    font-size: 40px;
}

.photointro :nth-child(1){
    color: white;
    font-size: 30px;
    width: 100%;
}

.introprojet{
    height: 300px;
    width: 100%;
    margin-top: 100px;
    background-color: #00BFFF;
}
.introprojet :nth-child(1){
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.phraseprojet{
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}



.projet{
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.paraprojet{
    height: 100%;
    width: 30%;
    border: #C0C0C0 1px solid;
}

.paraprojet :nth-child(1){
    width: 80%;
    height: 70%;
    background-color: #D3D3D3;
    margin-top: 20px;
}

.paraprojet :nth-child(2){
    height: 10%;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-left:40px;
}

.paraprojet :nth-child(3){
    height: 10%;
    margin-top: 20px;
    font-size: 20px;
    margin-left:40px;
}

.contact{
    height: 100px;
    width: 100%;
    margin-top: 100px;
    background-color: #00BFFF;
    font-size: 60px;
}

.contact :nth-child(1){
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 40%;
    height: 50%;
}

.bouttoncontact{
    height: 150px;
    width: 100%;
    background-color: #00BFFF;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.basdepage{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.basdepage>*{
   
    height: 100%;
    font-size: 40px;
    color: white;
    text-align: center;
    width: 10%;
    padding-top: 2px;
}



